.message
  .info
    .info__user-name
      = message.user.name
    .info__date
      = message.created_at.strftime('%y/%m/%d %H:%M')
  .message__text
    %p.text__content
      = message.text
    = image_tag message.image
