%body
  .wrapper
    .side-bar
      .header
        %h3.header__name
          = current_user.name
        %ul.header__lists
          %li.list
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog.icon
          %li.list
            = link_to new_group_path do
              %i.fa.fa-pencil-square-o.icon
      .side-bar__groups
        - @groups.each do |group|
          .group
            .group__name
              #{ group.try(:name) }
            .group__message
              メッセージはありません。
    .chat
      .chat__messages
