.chat{
  &__messages {
    background-color: $messages-color;
    @include messages_height;
    padding: 0 40px;
    overflow: scroll;
    .message {
      padding: 46px 0 10px 0;
      .info {
        margin-bottom: 10px;
        &__user-name {
          display: inline-block;
          @include user_name_size;
          font-weight: bold;
          color: $user-name-message-color;
          margin-right: 10px;
        }
        &__date {
          display: inline-block;
          color: $member-or-date-color;
          @include message_date_size;
        }
      }
      .text {
        @include chat_text_size;
      }
    }
  }
}
