.message-form {
  background-color: $chat_form-color;
  @include form_height;
  padding: 20px 50px 20px 40px;
  display: flex;
  &__text {
    @include form_height;
    width: 100%;
    padding: 0 10px;
    @include message_text_size;
    border: none;
  }
  &__mask {
    @include form_height;
    background-color: $picture-input-color;
    display: inline-block;
    padding-right: 10px;
    i {
      @include form_icon_size;
      @include line_height;
    }
  }
  &__submit {
    background-color: $btn-color;
    border: none;
    color: $word-white;
    @include btn_size;
    @include form_height;
    margin-left: 15px;
    padding: 0 30px;
  }
}
