@import 'variables';
.form {
  background-color: $chat__form-color;
  -webkit-height: 50px;
  height: 50px;
  padding: 20px 50px 20px 40px;
  display: flex;
  form{
    width: 100%;
  }
  &__message {
    -webkit-height: 50px;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    -webkit-font-size: 16px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
  }
  &__mask {
    -webkit-height: 50px;
    height: 50px;
    background-color: $picture-input-color;
    display: inline-block;
    padding-right: 10px;
    i {
      -webkit-font-size: 20px;
      font-size: 20px;
      -webkit-line-height: 50px;
      line-height: 50px;
    }
  }
  &__btn-submit {
    background-color: $btn-color;
    border: none;
    color: $word-white;
    font-size: 16px;
    -webkit-height: 50px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
  }
}
