.side-bar {
  @include side_bar;
  float: left;
  .header {
    background-color: $side-bar_header-color;
    @include header_height;
    @include header_line_height;
    padding: 0 20px;
    &__name {
      display: inline-block;
      @include side_icon_size;
      font-weight: bold;
      color: $word-white;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $word-white;
        @include side_icon_size;
        margin-left: 5px;
      }
    }
    li {
      display: inline-block;
      float: right;
    }
  }
  .side-bar__groups {
    background-color: $groups-color;
    @include groups;
    padding: 0 20px;
    .group {
      color: $word-white;
      padding: 20px 0 40px;
      &__name {
        @include group_name_size;
        margin-bottom: 5px;
      }
      &__message {
        @include group_message_size;
      }
    }
  }
}
