$side-bar_header-color: #253141;
$chat_form-color: #dddddd;
$picture_input-color: #ffffff;
$word-white: #ffffff;
$btn-color: #38aef0;
$chat_header-color: #ffffff;
$chat-border-color: #eeeeee;
$title-color: #333333;
$member-or-date-color: #999999;
$messages-color: #fafafa;
$user-name-message-color: #434a54;
$groups-color: #2f3e51;
$devise-bg-color: #ffffff;
$devise-border-color: #dddddd;
$header-under-bar-color: #38aef0;
$change-btn-color: #cccccc;
$submit-btn-color: #38aef0;
$error-word-color: #d65f4c;
$error-bar-color: #d65f4c;
$explanation-border-color: #dddddd;
$flash-sign_out-color: #f35500;
$flash-sign_in-color: #38aef0;
