$side-bar_header-color: #253141;
$chat_form-color: #dddddd;
$picture_input-color: #ffffff;
$word-white: #ffffff;
$btn-color: #38aef0;
$chat_header-color: #ffffff;
$chat-border-color: #eeeeee;
$title-color: #333333;
$member-or-date-color: #999999;
$messages-color: #fafafa;
$user-name-message-color: #434a54;
$groups-color: #2f3e51;
