$side-bar_header-color: #253141;
$chat_form-color: #DDDDDD;
$picture_input-color: #ffffff;
$word-white: #ffffff;
$btn-color: #38AEF0;
$chat_header-color: #ffffff;
$chat-border-color: #eeeeee;
$title-color: #333333;
$member-or-date-color: #999999;
$messages-color: #FAFAFA;
$user-name-message-color: #434A54;
$groups-color: #2f3e51;
