@import "./reset";
@import "./css/font-awesome.css";

body{
	height: 100%;
	width: 100%;
}

.notification{
	background-color: #38AEF0;
	text-align: center;
	p {
		color: white;
	}
}
.wrapper{
	position: relative;
	height: 100vh;
	overflow: hidden;
	display: flex;
	.side-bar{
		width: 300px;
		height: 100%;
        float: left;
		.header{
			background-color: #253141;
			height: 100px;
			padding: 0 20px;
			line-height: 100px;
			.header__name{
			  display: inline-block;
			  font-size: 16px;
			  font-weight: bold;
			  color: #fff;
		    }
		    .header__lists{
		      display: inline-block;
              float: right;
              .list{
              	display: inline-block;
              }
              .icon{
              	color: #fff;
              	font-size: 16px;
              	margin-left: 5px;
              }
		    }
		    li{
		    display: inline-block;
		    float: right;
		    }
		}
	    .groups{
         background-color: #2f3e51;
         height: 100vh;
         padding: 0 20px;
         .group{
         	color: white;
         	padding: 20px 0 40px;
         	.group__name{
         		font-size: 15px;
         		margin-bottom: 5px;
         	}
         	.group__message{
         		font-size: 11px;
         	}
         }
	    }
	}
	.chat{
		width: calc( 100% - 300px );
		.header{
	      background-color: white;
	      height: 100px;
	      padding: 0 40px;
	      border: #eeeeee;
		  .left-header{
		  	margin: 35px 0 15px 0;
		  	display: inline-block;
		  	.left-header__title{
		  		font-size: 20px;
		  		color: #333333;
		  		margin-bottom: 15px;
		  	}
		  	ul{
		  	  font-size: 12px;
		  	  color: #999999;
		  	  li{
		  	   	display: inline-block;
		  	  }
		  	}
		  }
		  .right-header{
		  	border: 1px solid #38AEF0;
            color: #38AEF0;
            float: right;
            height: 40px;
            line-height: 40px;
            margin-top: 28px;
            padding: 0 20px;
		  	.right-header__button{
              border-color: #38AEF0;
		  	}
		  }
		}
		.messages{
			background-color: #FAFAFA;
		    height: calc(100vh - 190px);
			padding:0 40px;
			.message{
			  padding: 46px 0 10px 0;
			  .upper-message__user-name{
			  	display: inline-block;
			  	font-size: 16px;
			  	font-weight: bold;
			  	color: #434A54;
			  	margin-right: 10px;
			  }
			  .upper-message__date{
			  	display: inline-block;
			  	font-size: 12px;
			  	color: #999999;
			  	margin-bottom: 10px;
			  }
			  p{
			  	font-size: 14px;
			  	color: #434A54;
			  }
			}
		}
		.form{
			background-color: #DDDDDD;
			height: 50px;
			bottom: 0px;
			padding: 20px 50px 20px 40px;
			.form__message{
              height: 50px;
              width: calc( 100% - 150px );
              padding: 0 10px;
              font-size: 16px;
              float: left;
              box-sizing: border-box;
              border: none;
			}
			.form__mask{
				height: 50px;
				background-color: white;
				display: inline-block;
				float: left;
				padding-right: 10px;
				i{
					font-size: 20px;
					line-height: 50px;
				}
			}
			.form__submit{
              background-color: #38AEF0;
              border: none;
              color: #fff;
              font-size: 16px;
              height: 50px;
              margin-left: 15px;
              padding: 0 30px;
			}
		}
	}

}

