!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }/
    %title ChatSpace
    = stylesheet_link_tag  'application', media: 'all', data: { turbolinks: { track: true } }
    = javascript_include_tag 'application', data: {turbolinks: { track: true } }
    %link{ href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel: 'stylesheet'}
  %body
    = render 'layouts/flash'
    = yield
