!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }/
    %title ChatSpace
    = stylesheet_link_tag  'application', media: 'all', data: { turbolinks: { track: true } }
    = javascript_include_tag 'application', data: {turbolinks: { track: true } }
    %link{ href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}
  %body
    .notification
      %p  チャットグループが作成されました。
    .wrapper
      .side-bar
        .header
          %h3.header__name
            ttt
          %ul.header__lists
            %li.list
              %i.fa.fa-cog.icon
            %li.list
              %i.fa.fa-pencil-square-o.icon
        .side-ber__groups
          .group
            .group__name
              aaa
            .group__message
              aaaaaaaa
      .chat
        .chat__header
          .left-header
            .left-header__title
              aaa
            %ul.left-header__members
              Member：
              %li.member
                ttt
          .btn-edit
            %a.right-header__button
              Edit
        .messages
          .messages__message
            .info
              .info__user-name ttt
              .info__date 2017/06/02 04:30
            .text
              %p.text__content aaaaaaaa
        .message-form
          %input.message-form__text{type: 'text' , placeholder: 'type a message'}
          .message-form__mask
            %i.fa.fa-picture-o.icon
          %input.message-form__submit{type: 'submit' , value: 'Send'}
